<h1 class="text-2xl font-bold text-center"><%= gettext "Registar"%></h1>

<.live_component module={RasbetWeb.Components.UserSettings} id="1" changeset={@changeset} edit={false} user={%Rasbet.Accounts.User{}}/>
