<div class="flex justify-center items-center flex-col min-h-screen gap-6 py-4 px-2">
  <div class="wordmark text-primary-500">RASBet</div>
  <div class="bg-white p-4 rounded-md shadow flex gap-4 flex-col">
    <%= @inner_content %>
  </div>
  <.link navigate="/" class="flex items-center gap-1 text-gray-600 hover:text-primary-500 transition-colors duration-150">
    <Heroicons.chevron_left class="inline w-4 h-4"/>
    <span><%= gettext "Voltar"%></span>
  </.link>
</div>
